#navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 65px;
    transition: height 0.3s ease;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .nav-menu {
    flex: 1 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 1;
    transition: 400ms cubic-bezier(0.8, 0, 0.8, 0.25);
  }
  
  li {
    padding: 10px;
  }

  .btn--3:before, .btn--3:after, .btn--2:before, .btn--1:after, .btn--1:before {
    content: "";
    position: absolute;
    z-index: -2;
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
  }
  
  .btn {
    position: relative;
    display: inline-block;
    box-shadow: none;
    border: 0;
    background-color: #ffffff;
    color: #fff;
    padding: 0 10px;
    line-height: 5em;
    height: 3em;
    white-space: nowrap;
    min-width:150px;
    z-index: 9;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2em;
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .btn--4 {
    position: relative;
    color: transparent;
  }
  .btn--4:after, .btn--4:before {
    content: attr(aria-label);
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 900;
    transform: translateX(-100%);
    transition: 600ms cubic-bezier(0.25, 0.8, 0.4, 1) calc(600ms / 2);
  }
  .btn--4:before {
    transition: 600ms cubic-bezier(0.6, 0, 0.8, 0.25);
    left: auto;
    right: 100%;
    letter-spacing: 3rem;
  }
  .btn--4:hover {
    background-color: #ffffff;
  
  }
  .btn--4:hover:after {
    transition: 600ms cubic-bezier(0.6, 0, 0.8, 0.25);
    letter-spacing: 3rem;
    transform: translateX(100%);
  }
  .btn--4:hover:before {
    transition: 600ms cubic-bezier(0.25, 0.8, 0.4, 1) calc(600ms / 2);
    letter-spacing: 0.2em;
    transform: translateX(100%);
    color: #84171A;
    text-shadow: #000000;
  }
  
  a:hover {
    width: 15px;
    outline: 1px solid black;
    /* outline-offset: 1px; */
    border-radius: 0.25em;
  }
  
  body {
    height: 100vh;
    background-color: #d8e6f1;
  }
  
  .demo {
    width: 1000px;
    margin: 50px auto;
  }
  .demo .btn {
    margin: 20px;
  }

  @media only screen and (max-width: 1024px) {
    .nav-menu {
      opacity: 0;
      transition: 400ms cubic-bezier(0.8, 0, 0.8, 0.25);
    }
    .btn--4 {
      cursor: auto;
    }
    .narrow{
      display: none!important;
    }
  }